*
{
    margin:0;
    padding:0;
    box-sizing:content-box;
}

html, body
{
    width:100%;
    height:100%;
    color:green;
    background-color:#333;
    background-color:#000;
}

ul
{
    list-style:none;
}
    
a
{
    display:inline-block;
    position:relative;
    text-decoration:none;
    color:#fff;
}

a:hover
{
    text-decoration:none !important;
}

a:before
{
    content:'';
    position:absolute;
    bottom:0px;
    left:0; 
    width:50%;
    height:3px;
    transform:scaleX(0);
    background-color:#fff;
    transform-origin:bottom right;
    transition:transform 0.5s;
}

a:hover::before
{
    transform:scaleX(1);
}

a:after
{
    content:'';
    position:absolute;
    bottom:0px;
    left:50%;   
    width:50%;
    height:3px;
    transform:scaleX(0);
    background-color:#fff;
    transform-origin:bottom left;
    transition:transform 0.5s;
}

a:hover::after
{
    transform:scaleX(1);
}

header
{
    width:100%;
    height:100px;
    background-color:#000;
    display:grid;
    display:-ms-grid;
    grid-template-columns:400px auto; 
    -ms-grid-columns:400px auto; 
}

main
{
}

footer
{

}

#header-right, #header-right nav, #header-right ul
{
    width:calc(100vw - 400px);
    height:100px;
}

#header-left
{
    -ms-grid-column:1;
}

#header-right
{
    -ms-grid-column:2;
}

#header-right nav ul li
{
    width:14.25%;
    height:100%;
    line-height:140px;
    float:left;
    text-align:center;
}

#header-right nav ul li span
{
    color:#fff;
}

#header-right nav ul li a:before, #header-right nav ul li a:after
{
    bottom:50px;
}

#floating-nav
{
    display:none;
    position:fixed;
    top:50px;
    right:50px;
    width:100px;
    height:100px;
    border-radius:50%;
    background-color:rgb(0,100,0);
    z-index:9999;
    cursor:pointer;
    transition:all 1s;

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#006e2e+0,006e2e+100 */
background: #006e2e; /* Old browsers */
background: -moz-linear-gradient(top, #006e2e 0%, #006e2e 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #006e2e 0%,#006e2e 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #006e2e 0%,#006e2e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006e2e', endColorstr='#006e2e',GradientType=0 ); /* IE6-9 */

}

#floating-nav div
{
    transition:all 1s;
}

#floating-nav.close
{
    width:80px;
    height:80px;
    border-radius:40px;
    background-color:red;

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a90329+0,8f0222+44,6d0019+100;Brown+Red+3D */
background: #a90329; /* Old browsers */
background: -moz-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #a90329 0%,#8f0222 44%,#6d0019 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #a90329 0%,#8f0222 44%,#6d0019 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */

    =background-color:rgb(0,0,0);
    =background-color:transparent;
}

#floating-nav.close div
{
    margin-left:16px;
}

#floating-nav.close div:nth-child(1)
{
    margin-top:25px;
}

#floating-nav.close div:nth-child(1)
{
    transform:rotate(45deg) translate(7px, 7px);
}

#floating-nav.close div:nth-child(2)
{
    display:none;
}

#floating-nav.close div:nth-child(3) 
{
    transform:rotate(-45deg) translate(4px, -5px);
}


#floating-nav div
{
    width:50px;
    height:10px;
    margin-bottom:5px;
    margin-left:25px;
    background-color:#fff;
    border-radius:3px;
}

#floating-nav div:nth-child(1)
{
    margin-top:30px;
}

#nav-wrapper 
{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:1000;
    overflow:hidden;
    visibility:visible;
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -ms-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
    -webkit-transform: translate3d(0, 0, 0);
    font-weight:900;
}

#nav-wrapper.nav-wrapper-closed 
{
    visibility: hidden;
}

#nav
{

    overflow: hidden;
    position: absolute;
    border-radius: 100%;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    z-index: 2;
    background:rgba(0, 0, 0, 1);
    =background-color:rgba(0,25,0,1);
    =background-color:#013220;
    =background-color:#011910;
}

#nav-wrapper.nav-wrapper-closed #nav 
{
    width: 0 !important;
    height: 0 !important;
    top: 85px !important;
    right: 90px !important;
}

#nav-info
{
    position:fixed; 
    top:150px; 
    left:0px; 
    width:100%;
    height:calc(100vh - 150px);
    opacity:0;
    color:#fff;

    display:grid;
    display:-ms-grid;
    grid-template-columns:600px auto;
    -ms-grid-columns:600px calc(100vw - 600px); 
}

#nav-info
{
    padding-left:50px;
    margin-top:50px;
    background: url(../img/smoke1.png) 0 0 repeat-x;
}

#nav-info nav ul li 
{
    margin-bottom:50px;
    =text-align:right;
    padding-right:100px;
}

#nav-info nav ul li a, #nav-info nav ul li span
{
    font-size:36px;
}

#nav nav ul li
{
    opacity:0;
    transition:all 1s;
}

#nav nav ul li.opened
{
    opacity:1;
}

#contact-us-directly
{
    padding-left:100px;
    -ms-grid-column:1;
}

#contact-us-directly img
{
    width:300px;
    height:300px;
}

#contact-us-directly div:nth-child(2)
{
    height:24px;
    margin-top:calc(100vh - 700px);
    font-size:24px;
}

#contact-us-directly div:nth-child(3)
{
    font-size:32px;
}

#nav-info-nav
{
    -ms-grid-column:2;
}

#nav-info-nav ul 
{
    width:90%;
}

#nav-info-nav ul li
{
    text-align:right;
}

.container
{
    display:block;
    width:80%;
    margin-left:10%;
    margin-top:50px;
    margin-bottom:50px;
}

.sub-menu 
{
    width:calc((100vw - 400px) / 7) !important;
    visibility:hidden;
    opacity:0;
    position:relative;
    top:-40px;
    background-color:#000 !important;
    transition:all 1s;
}

.sub-menu li
{
    width:calc((100vw - 400px) / 7) !important;
    height:80px !important;
    line-height:80px !important;
    float:none !important;
    background-color:#000 !important;
    border-bottom:1px solid #fff;
}

.sub-menu li:nth-child(1)
{
    border-top:1px solid #fff;
}

.sub-menu li a:before, .sub-menu li a:after
{
    bottom:20px !important;
}

.has-sub-menu:hover > .sub-menu
{
    visibility:visible;
    opacity:1;
}